/* The switch - the box around the slider */
#theme-toggle-button {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3em;
  cursor: pointer;
}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}







/* Menu Button */

.menuBtn {
  width: 40px;
  color: #0f172a;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #0f172a;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.menuBtn:hover {
  color: white;
}

.menuBtn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: #0f172a;
  z-index: -1;
  transition: all 0.9s;
}

.menuBtn:hover::before {
  width: 250%;
}








/* Download Button */
 
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 28px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  box-shadow: 0 0 0 2px rgb(109, 119, 95);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button i {
  position: absolute;
  width: 24px;
  fill: rgb(151, 155, 146);
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .download-right {
  right: 16px;
}

.animated-button .download-left {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgba(153, 153, 152, 0.685);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .download-right {
  right: -25%;
}

.animated-button:hover .download-left {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover i {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px rgba(153, 153, 152, 0.685);
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}






/* Skill card backgound Image style */
.skill-card {
  background-size: cover;
  background-position: right;
  border-radius: 0.5rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: #fff;
  font-weight: bold;
}

.cert-card{
  width: 30%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #d9dbdf;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #d9dbdf;
  margin-bottom: 30px;
  flex: 0 0 30%;
}




/* certificate card */

.hover-effect {
  opacity: 0; /* initial opacity is 0 */
  transform: translateY(-150%); /* initial position is above the screen */
  transition: opacity 1s, transform 0.5s; /* add transition effects to opacity and transform */
}

.certificate-div:hover .hover-effect {
  opacity: 1; /* set opacity to 1 on hover */
  transform: translateY(0); /* move the text to its original position on hover */
}